<?xml version="1.0"?>
<!--
 * @category NaumovExtensions
 * @package NaumovExtensions_InventoryManagement
 * @author Anton Naumov <anton2-2000@mail.ru>
 * @copyright Copyright (c) 2023 NaumovExtensions
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="naumovextensions_inventorymanagement" frontName="naumovextensions_inventorymanagement">
            <module name="NaumovExtensions_InventoryManagement" />
        </route>
    </router>
</config>
